<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<header>
  <div class="container">
      <h1>Домашняя страница</h1>
    <nav>
      <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="contacts">Контакты</a></li>
      </ul>
    </nav>
  </div>
</header>

<div style = "background-color:#cae4ed">
    <p>Перейдите в раздел Контакты, чтобы внести ваши данные: <form action="contacts"><button>Перейти</button></form></p>
</div>

</body>
</html>